<div class="container-fluid">
	<div class="row">
		<%= render "shared/leftmenu" %>
		<div class="col-md-10">
			<div class="panel panel-default">
					<div class="panel-heading">
	  					<h3 class="panel-title">Withdraw funds
	  					</h3>
  					</div>
				<div class="row">
					<div class="col-md-4 align_center">
						<form>
						        €<input type="number" name="withdrawfunds" min="0" step="0.01" />
						        <input type="submit" value="Withdraw" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>